{% load static %}
<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Агенція нерухомості"Преорітет."</title>
    <link href="{% static 'rieltor/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <img src="{% static 'images/Rieltor5.png' %}" alt="IT" class="logo">
        <ul>
            <li>
                <a href="{% url 'base' %}">А.H."Пріорітет"</a>
            </li>
            <li>
                <a href="#">Послуги</a>
            </li>
            <li>
                <a href="#">Сервіс</a>
            </li>
            <li>
                <a href="#">Відгуки кліентів</a>
            </li>
            <li>
                <a href="#">Контакти</a>
            </li>
            <li>
                <a href="#">+380979598366</a>
            </li>
        </ul>
    </div>


    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="{% static 'images/Rieltor11.jpg' %}">
            </div>
            <div class="content">
                <ul>
                    <li>
                        <a href="#">1-к квартира пр.Металургів 45</a>
                    </li>
                </ul>
                <p>Продам недорого 1-к квартиру на левом берегу.
                7-етаж, Общая площадь 40 кв.м. Хорошая транспортная
                 развязка,рядом, садик, магазини, школа.Год постройки
                 дома 1996.г.Метало пл/окна,бронедверь.
                </p>
                <h4>Ціна:87000т.грн.</h4>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="{% static 'images/Rieltor12.jpg' %}">
            </div>
            <div class="content">
                <ul>
                    <li>
                        <a href="#">2-к квартира пр.Міра 63</a>
                    </li>
                </ul>
                <p>Продам недорого 2-к квартиру на левом берегу.
                5-етаж, Общая площадь 49 кв.м. Хорошая транспортная
                 развязка,рядом, садик, магазини, школа.Год постройки
                 дома 1996.г.Метало пл/окна,бронедверь.
                </p>
                <h4>Ціна:102000т.грн.</h4>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="{%  static 'images/Rieltor13.jpg' %}">
            </div>
            <div class="content">
                <ul>
                    <li>
                        <a href="#">3-к квартира пр.Дніправська 67</a>
                    </li>
                </ul>
                <p>Продам недорого 3-к квартиру на левом берегу.
                3-етаж, Общая площадь 70 кв.м. Хорошая транспортная
                 развязка,рядом, садик, магазини, школа.Год постройки
                 дома 1987.г.Метало пл/окна,бронедверь.
                </p>
                <h4>Ціна:130000т.грн.</h4>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="{% static 'images/Rieltor15.jpg' %}">
            </div>
            <div class="content">
                <ul>
                    <li>
                        <a href="#">2-к квартира пр.Свободи 27</a>
                    </li>
                </ul>
                <p>Продам недорого 2-к квартиру на левом берегу.
                2-етаж, Общая площадь 49 кв.м. Хорошая транспортная
                 развязка,рядом, садик, магазини, школа.Год постройки
                 дома 1996.г.Метало пл/окна,бронедверь.
                </p>
                <h4>Ціна:98000т.грн.</h4>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="{% static 'images/Rielror16.jpg' %}">
            </div>
            <div class="content">
                <ul>
                    <li>
                        <a href="#">1-к квартира пр.Будівельників 57</a>
                    </li>
                </ul>
                <p>Продам недорого 1-к квартиру на левом берегу.
                4-етаж, Общая площадь 32 кв.м. Хорошая транспортная
                 развязка,рядом, садик, магазини, школа.Год постройки
                 дома 1986.г.Метало пл/окна,бронедверь.
                </p>
                <h4>Ціна:90000т.грн.</h4>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="icons">
            <h3>&copyВсі права захишені 2020 р.</h3>
        <h3>&copySoftware Developer Andrii Shevchenko</h3>
            <ul class="sci">
                <li><a href="#"><img src="{% static 'images/Facebook.png' %}"></a></li>
                <li><a href="#"><img src="{% static 'images/twitter.png' %}"></a></li>
                <li><a href="#"><img src="{% static 'images/instagram.jpg' %}"></a></li>
            </ul>
        </div>
    </div>
</body>
</html>